body {
    width: 980px;
    margin: auto;
    font-size: 24px;
}

article {
    margin: 32px 0;
    box-shadow: 0px 0px 15px 5px #999;
    padding: 32px;
}

article footer {
    color: #999;
}

.red {
    background-color: rgb(255, 183, 183);
}

.blue {
    background-color: rgb(148, 186, 255);
}

.green {
    background-color: rgb(154, 255, 184);
}